* {
  font-size: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

mat-card {
  margin: 2vh 2vw;
  padding: 2vh 2vw;
}


.vocation {
  width: 30%;
}


.specsCard {
  width: 80%;
  height: 90%;
}


.specsWrapper {
  position: absolute;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}


.spec {
  flex-grow: 1;
  flex-basis: 100%;
  align-self: center; 
}


.spec mat-form-field {
  width: 94%;
}


.spec mat-slide-toggle {
  float: right;
}

.line {
  width: 98%;
  height: 1px;
  border-width: 0;
  background-color:white;
}

.checkBtn {
  float: right;
}


.hidden {
  visibility: hidden;
}


@media screen and (max-width: 800px){
  .vocation {
    width: 100%;
  }

  .spec mat-slide-toggle {
    margin-right: 4%;
  }

  .line {
    width: 90%;
  }
}