<!-- Toolbar -->
<app-toolbar title="Bewertung"></app-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Deine Note</mat-card-title>
    <mat-card-subtitle>{{ vocationId | vocation }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="markCardContent" [@markSize]="showDetails ? 'smallMark' : 'bigMark'">
    <div class="mark" [ngClass]="mark > 3.99 ? 'gold': 'red'">
      {{ mark | number: '1.2' }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <hr class="line">
    <div class="cardFooter">
      <button mat-icon-button (click)="triggerAnimation()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
  </div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="showWarning">
  <mat-card-header>
    <fa-icon mat-card-avatar class="yellow" [icon]="fawarn"></fa-icon>
    <mat-card-title>Achtung</mat-card-title>
    <mat-card-subtitle>Keine genaue Note möglich</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Du hast nicht bei allen Komponenten etwas angegeben. Daher ist es nicht möglich eine genaue Note deines Gerätes zu berechnen. Bitte versuche die fehlenden Informationen herauszufinden und ebenfalls anzugeben.</p>
  </mat-card-content>
</mat-card>

<mat-card class="details" [@detailsVisibility]="showDetails ? 'showDetails' : 'hideDetails'">
  <mat-card-content>
    <table *ngIf="!showDiagram" class="detailsTable">
      <tr *ngFor="let entry of tableDataSource">
        <td class="dimension">{{ entry.dimension | dimension }}</td>
        <td class="deviceComponent">{{ entry.deviceComponent | displayFormat }}</td>
        <td class="result gold" *ngIf="entry.result === 0"><fa-icon [icon]="fatick"></fa-icon></td>
        <td class="result" *ngIf="entry.result === 1"><fa-icon [icon]="fastroke"></fa-icon></td>
        <td class="result red" *ngIf="entry.result === 2"><fa-icon [icon]="facross"></fa-icon></td>
      </tr>
    </table>
    <div *ngIf="showDiagram" echarts [options]="initialChartRadar" [merge]="dynamicData"></div>
  </mat-card-content>
  <mat-card-actions>
    <hr class="line">
    <div class="cardFooter">
      <mat-label>Tabelle &nbsp;</mat-label>
      <mat-slide-toggle [checked]="showDiagram" (change)="changeView()"></mat-slide-toggle>
      <mat-label>&nbsp; Diagramm</mat-label>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card [@detailsVisibility]="showDetails ? 'showDetails' : 'hideDetails'">
  <mat-card-header>
    <mat-card-title>Berechnung</mat-card-title>
    <mat-card-subtitle>Wie deine Note entsteht und was du beachten musst</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Deine Note ist abhängig davon, wie gut deine einzelnen Komponenten (z.B. Speicherplatz oder Bildschirmgrösse) sind.</p>
    <p>Für jede Komponente welche ungenügend (<fa-icon class="red" [icon]="facross"></fa-icon>) ist, sinkt die Note. Erfüllt deine Komponente die Mindestanforderung, ist aber nicht auf dem empfohlenen Stand (<fa-icon [icon]="fastroke"></fa-icon>), so wird die Note nur gering tiefer.</p>
    <p>Interpretieren kannst du die Note wie jede andere Schweizer Schulnote. Besser als 6 geht nich und alles unter 4 ist ungenügend. Selbstverständlich benötigt dein Gerät keine 6 um für den Unterricht zu taugen. Bitte beachte aber, dass es durchaus zu Einschränkungen kommen kann wenn dein Gerät gerade so genügend abschneidet.</p>
    <p>Nimm dir die Zeit genau anzuschauen wo dein Gerät gut abschneidet und wo es noch Defizite hat. So kannst du besser entscheiden, ob du es kaufen bzw. für den Unterricht am GIBZ verwenden möchtest.</p>
  </mat-card-content>
</mat-card>